<% include partials/header %>
	<link rel="stylesheet" href="/stylesheet/landing.css">



<div id="carouselFade" class="carousel slide carousel-fade" data-ride="carousel">

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <div class="carousel-caption vertical-align-caption">
              <div class="caption-wrap">
                <h1>ParkTour</h1>
                <p class="sub-header">Share your National Park photos</p>
                <hr class="hr1">
                <a class="btn btn-primary btn-lg" href="/parks">View Parks</a>
              </div>
            </div>
        </div>
        <div class="item">
            <div class="carousel-caption vertical-align-caption">
              <div class="caption-wrap">
                <h1>ParkTour</h1>
                <p class="sub-header">View popular National Parks people are visiting</p>
                <hr class="hr2">
                <a class="btn btn-primary btn-lg" href="/parks">View Parks</a>
              </div>
            </div>
        </div>
        <div class="item">
            <div class="carousel-caption vertical-align-caption">
              <div class="caption-wrap">
                <h1>ParkTour</h1>
                <p class="sub-header">Plan your next National Park Tour!</p>
                <hr class="hr3">
                <a class="btn btn-primary btn-lg" href="/parks">View Parks</a>
              </div>
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carouselFade" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carouselFade" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>



<% include partials/footer %>