i.icon {
    font-size:2em;
}

.container.main{
    margin-top: 7.0em;
}

#delete {
    display: inline;
}

#ptext{
-moz-hyphens:auto;
-ms-hyphens:auto;
-webkit-hyphens:auto;
hyphens:auto;
word-wrap:break-word;
}