

    <div class="container footer" id="contact">
            <hr>
            <i class="fa fa-spinner fa-spin fa-lg fa-fw margin-bottom"></i>
<span class="sr-only">Loading...</span><div>About me:</div>
            <a href="https://www.instagram.com/bozzz3/"><i class="fa fa-instagram fa-3x" aria-hidden="true"></i></a>
            <a href="https://weibo.com/biancobay"><i class="fa fa-weibo fa-3x" aria-hidden="true" ></i></a>
            <a href="https://www.linkedin.com/in/bogong9117"><i class="fa fa-linkedin-square fa-3x" aria-hidden="true" ></i></a><br>
            <p id="delete-form">   By Bo Gong 2016</p>    
    </div>
    </body>
</html>