<% include ../partials/header %>
<div class="container">
    <div class="row">
        <h1 class="h1t">Create a New National Park Info</h1>
        <div class="submit well well-lg">
            <form action="/parks" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="name" placeholder="name">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="image" placeholder="image url">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="state" placeholder="park state">
                </div>
                <div class="form-group">
                    <select name="rate" class="selectpicker form-control">
                      <option selected disabled>--rate--</option>  
                      <option value="5">5</option>                      
                      <option value="4">4</option>
                      <option value="3">3</option>
                      <option value="2">2</option>
                      <option value="1">1</option>
                    </select>
                </div>
                <div class="form-group">
                    <textarea class="form-control" rows="6"  name="description" placeholder="description"></textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                </div>
            </form>
            <a href="/parks">Go Back</a>
        </div>
    </div>
</div>


<% include ../partials/footer %>

